{% extends 'base.html' %}

{% block style %}
    #mapid { height: 180px; }
{% endblock %}

{% block links %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

{% endblock %}

{% block body %}
    <h4 style="color: orange">{{ place.title }}, is best for {{ place.type_of_place }}.</h4>
    <br>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <h6 style="color: lightcoral">{{ place.title }}<br></h6>

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Best for: </strong><br>{{ place.type_of_place }}</li>
                <li class="list-group-item"><strong>Address: </strong><br>{{ place.city }}, {{ place.address }}</li>
                <li class="list-group-item"><strong>Description: </strong><br>{{ place.description|linebreaks }}</li>
                <li class="list-group-item"><strong>Phone number: </strong><br>{{ place.phone }}</li>
                <li class="list-group-item"><strong>Location: </strong><br>
                    <div id="m" style="width: 100%; height: 100%">
                        Near {{ place.city }}
                    </div>
                </li>
            </ul>
        </li>
        <br>

    </ul>



    <div id="mapid" style="width: 600px; height: 400px;"></div>
    <script>

        var mymap = L.map('mapid').setView({{ place.lat_lon }}, 13);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        }).addTo(mymap);

        L.marker({{ place.lat_lon }}).addTo(mymap).bindPopup('{{ place }}');

        L.circle({{ place.lat_lon }}, {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 50
        }).addTo(mymap);

        L.polygon([]).addTo(mymap);


    </script>


{% endblock %}